/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	--text-color: #222;
	--bkg-color: #fff;
	--bg-img: url("img/bg-light.jpg");
	--anchor-color: #0033cc;
}
body.dark-theme {
	--text-color: #eee;
	--bkg-color: #121212;
	--bg-img: url("img/bg-dark.jpg");
	--anchor-color: #809fff;
}
body {
	color: var(--text-color);
	background: var(--bkg-color);
}
a {
	color: var(--anchor-color);
}
html {
	scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* all similar content styling codes */
section {
	padding: 100px 0;
}
.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
#clickableAwesomeFont {
	cursor: pointer;
	color: var(--text-color);
	font-size: 30px;
}
.about,
.experience,
.education,
.interests,
.skills,
.projects,
.contact,
footer {
	font-family: 'Poppins', sans-serif;
}
.about .about-content,
.experience .experience-content,
.education .education-content,
.interests .interest-content,
.skills .skills-content,
.contact .contact-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 30px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
section .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 220px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
section .title::after {
	position: absolute;
	bottom: -8px;
	left: 50%;
	font-size: 20px;
	color: rgb(0, 25, 252);
	padding: 0 5px;
	background: #fff;
	transform: translateX(-50%);
}
section .projectTitle {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 30px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
	border-bottom: 2px solid rgb(0, 25, 252);
}

/* navbar styling */
.navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 20px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
	background: rgb(0, 25, 252);
}
.navbar.sticky {
	padding: 12px 0;
	color: #111;
	font-weight: 400;
}
.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.navbar .logo a span {
	color: #222;
	transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
	color: #000;
	transition: all 0.3s ease;
}
.navbar .menu li {
	list-style: none;
	display: inline-block;
}
.navbar .menu li a {
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover {
	color: #111;
}

/* menu btn styling */
.menu-btn {
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 42px;
	background: rgb(0, 25, 252);
	right: 30px;
	bottom: 10px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	border-bottom-width: 2px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.scroll-up-btn.show {
	bottom: 30px;
	opacity: 1;
	pointer-events: auto;
}
.scroll-up-btn:hover {
	filter: brightness(90%);
}

/* home section styling */
.home {
	display: flex;
	background: var(--bg-img) no-repeat center;
	height: 100vh;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
	margin: auto 0 auto 30px;
}
.home .home-content .text-1 {
	font-size: 27px;
	color: var(--text-color);
	text-shadow: 1px 1px 0 var(--bkg-color), -1px -1px 0 var(--bkg-color), 1px -1px 0 var(--bkg-color),
		-1px 1px 0 var(--bkg-color), 1px 1px 0 var(--bkg-color);
}
.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	text-shadow: 1px 1px 0 var(--bkg-color), -1px -1px 0 var(--bkg-color), 1px -1px 0 var(--bkg-color),
		-1px 1px 0 var(--bkg-color), 1px 1px 0 var(--bkg-color);
	margin-left: -3px;
}
.home .home-content .text-3 {
	font-size: 40px;
	text-shadow: 1px 1px 0 var(--bkg-color), -1px -1px 0 var(--bkg-color), 1px -1px 0 var(--bkg-color),
		-1px 1px 0 var(--bkg-color), 1px 1px 0 var(--bkg-color);
	margin: 5px 0;
}
.home .home-content .text-3 span {
	color: rgb(0, 25, 252);
	font-weight: 500;
}
.home .home-content a {
	display: inline-block;
	background: rgb(0, 25, 252);
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	font-weight: 400;
	border-radius: 6px;
	border: 2px solid rgb(0, 25, 252);
	transition: all 0.3s ease;
}
.home .home-content a:hover {
	color: rgb(0, 25, 252);
	background: none;
}

/* about section styling */
.about .title::after {
	content: "Know me better";
}
.about .about-content .left {
	width: 45%;
}
.about .about-content .left img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}
.about .about-content .right {
	width: 55%;
}
.about .about-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .about-content .right .text span {
	color: rgb(0, 25, 252);
}
.about .about-content .right p {
	text-align: justify;
}
.about .about-content .right a {
	display: inline-block;
	background: rgb(0, 25, 252);
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgb(0, 25, 252);
	transition: all 0.3s ease;
}
.about .about-content .right a:hover {
	color: rgb(0, 25, 252);
	background: none;
}

/* Experience Styling */

.experience .title::after {
	content: "Professional Journey";
	width: 198px;
}
.experience .experience-content .left {
	width: 45%;
}
.experience .experience-content .left img {
	height: 375px;
	width: 350px;
	object-fit: cover;
	border-radius: 6px;
}
.experience .experience-content .left .image-right {
	margin-left: 170px;
}
.experience .experience-content .right {
	width: 55%;
}
.experience .experience-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.experience .experience-content .right .text span {
	color: rgb(0, 25, 252);
	font-size: smaller;
	font-weight: 500;
}
.experience .experience-content .right .text h4 {
	font-size: smaller;
	font-weight: 300;
}
.experience .experience-content .right .subtext {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.experience .experience-content .right .subtext span {
	color: rgb(0, 25, 252);
}
.experience .experience-content .right p {
	text-align: justify;
}
.experience .experience-content .right a {
	display: inline-block;
	background: rgb(0, 25, 252);
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgb(0, 25, 252);
	transition: all 0.3s ease;
}
.experience .experience-content .right a:hover {
	color: rgb(0, 25, 252);
	background: none;
}
/* Education Styling */

.education .title::after {
	content: "Academic Learning";
	width: 185px;
}
.education .education-content .left {
	width: 45%;
}
.education .education-content .left img {
	height: 350px;
	width: 350px;
	object-fit: cover;
	border-radius: 6px;
}
.education .education-content .left .image-right {
	margin-left: 170px;
}
.education .education-content .right {
	width: 55%;
}
.education .education-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.education .education-content .right .text span {
	color: rgb(0, 25, 252);
}
.education .education-content .right .subtext {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.education .education-content .right .subtext span {
	color: rgb(0, 25, 252);
}
.education .education-content .right p {
	text-align: justify;
}
.education .education-content .right a {
	display: inline-block;
	background: rgb(0, 25, 252);
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgb(0, 25, 252);
	transition: all 0.3s ease;
}
.education .education-content .right a:hover {
	color: rgb(0, 25, 252);
	background: none;
}

.interests .title::after,
.projects .title::after {
	/* background: #111; */
	content: "Things I Love";
}
.interests .interest-content .card {
	width: calc(33% - 20px);
	background: rgb(0, 25, 252, 0.3);
	text-align: center;
	border-radius: 6px;
	padding: 40px 25px;
	margin: 10px;
	transition: all 0.3s ease;
}
.interests .interest-content .card:hover {
	background: rgb(0, 25, 252, 0.6);
	border: #000;
	border-style: ridge;
}
.interests .interest-content .card .box {
	transition: all 0.3s ease;
}
.interests .interest-content .card:hover .box {
	transform: scale(1.15);
}
.interests .interest-content .card i {
	font-size: 50px;
	color: rgb(0, 25, 252);
	transition: color 0.3s ease;
}
.interests .interest-content .card:hover i {
	color: #fff;
}
.interests .interest-content .card:hover .text {
	font-weight: 600;
}
.interests .interest-content .card .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after {
	content: "My Learnings";
}
.skills .skills-content .column {
	width: calc(50% - 30px);
}
.skills .skills-content .left .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.skills .skills-content .left p {
	text-align: justify;
}
.skills .skills-content .left a {
	display: inline-block;
	background: rgb(0, 25, 252);
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgb(0, 25, 252);
	transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
	color: rgb(0, 25, 252);
	background: none;
}
.skills .skills-content .right .bars {
	margin-bottom: 15px;
}
.skills .skills-content .right .info {
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.skills .skills-content .right span {
	font-weight: 500;
	font-size: 18px;
}
.skills .skills-content .right .line {
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}
.skills .skills-content .right .line::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: rgb(0, 25, 252);
}
.skills-content .right .html::before {
	width: 85%;
}
.skills-content .right .css::before {
	width: 85%;
}
.skills-content .right .js::before {
	width: 70%;
}
.skills-content .right .java::before {
	width: 75%;
}
.skills-content .right .python::before {
	width: 70%;
}
.skills-content .right .mongo::before {
	width: 70%;
}
.skills-content .right .express::before {
	width: 70%;
}
.skills-content .right .mysql::before {
	width: 75%;
}

/* Skill Images */
.skill-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.skill-content .skilltech {
	background-color: var(--bkg-color);
	-webkit-box-shadow: 0 3px 8px 0 rgb(0 0 0 / 30%);
	box-shadow: 0 3px 8px 0 rgb(0 0 0 / 30%);
	padding: 1rem;
	border-radius: 50%;
	margin: 10px;
	max-width: 200px;
	max-height: 200px;
}
.skill-content .technology span {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	width: initial;
	height: initial;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}
.skill-content .technology img {
	max-height: 150px;
	padding: 10px;
}

/* projects section styling */
.projects .title::after {
	content: "My work";
}
.projects .project-content .card {
	margin: 10px;
	width: calc(33% - 20px);
	display: inline-table;
	height: 465px;
	background: rgb(0, 25, 252, 0.3);
	text-align: center;
	border-radius: 6px;
	padding: 40px 50px;
	transition: all 0.3s ease;
}
.projects .project-content .card:hover {
	background: rgb(0, 25, 252, 0.6);
	border: #000;
	border-style: ridge;
}
.projects .project-content .card .box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.projects .project-content .card .box .projectLinks {
	margin-top: 25px;
	display: flex;
}
.projects .project-content .card .box a {
	background: rgb(0, 25, 252);
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	padding: 10px 10px;
	margin: 10px 8px;
	border-radius: 6px;
	border: 2px solid rgb(0, 25, 252);
	transition: all 0.3s ease;
}
.projects .project-content .card .box img:hover,
.projects .project-content .card .box .projectLinks .link1:hover,
.projects .project-content .card .box .projectLinks .link2:hover {
	transform: scale(1.20);
}

.projects .project-content .card:hover .text {
	font-weight: 600;
	transform: scale(1.15);
	transition: all 0.3s ease;
}

.projects .project-content .card .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}
.projects .project-content .card img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid rgb(0, 25, 252);
	transition: all 0.3s ease;
}
.projects .project-content .card:hover .box a,
.projects .project-content .card:hover .box a {
	border: 2px solid #000;
}
.projects .project-content .card:hover img {
	border-color: #000;
	border-style: double;
}

/* contact section styling */
.contact .title::after {
	content: "Get in Touch";
}
.contact .contact-content .column {
	width: calc(50% - 30px);
}
.contact .contact-content .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .contact-content .left p {
	text-align: justify;
}
.contact .contact-content .left .icons {
	margin: 10px 0;
}
.contact .contact-content .row {
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info {
	margin-left: 30px;
}
.contact .contact-content .row i {
	font-size: 25px;
	color: rgb(0, 25, 252);
}
.contact .contact-content .info .head {
	font-weight: 500;
}
/* footer section styling */
footer {
	background: #111;
	padding: 15px 23px;
	color: #fff;
	text-align: center;
	height: 160px;
}
footer span a {
	color: rgb(0, 25, 252);
	text-decoration: none;
}
footer span a:hover {
	text-decoration: none;
}
footer h4 {
	font-size: smaller;
	margin-bottom: auto;
	float: right;
}
footer h4 span a {
	color: rgb(0, 25, 252);
	text-decoration: none;
}
footer span .social a {
	display: inline-block;
	width: 46px;
	height: 46px;
	text-align: center;
	padding-top: 0.3cm;
	background: rgb(0, 25, 252);
	color: #fff;
	text-decoration: none;
	border-radius: 20%;
	margin: 7px;
	transition: 0.5s;
}

footer span .social a:hover {
	transform: scale(1.21);
}

footer span .social a .fa {
	line-height: 46px;
}

footer span .social a:nth-child(1):hover {
	color: #26a4f2;
	box-shadow: 0 0 15px #1da1f2;
	text-shadow: 0 0 15px #1da1f2;
}
footer span .social a:nth-child(2):hover {
	color: #e23670;
	box-shadow: 0 0 15px #e1306c;
	text-shadow: 0 0 15px #e1306c;
}
footer span .social a:nth-child(3):hover {
	color: #2a6cbb;
	box-shadow: 0 0 15px #2867b2;
	text-shadow: 0 0 15px #2867b2;
}
footer span .social a:nth-child(4):hover {
	color: #fff;
	box-shadow: 0 0 15px #fff;
	text-shadow: 0 0 15px #fff;
}

/* responsive media query start */
@media (max-width: 1300px) {
	.home .max-width {
		margin-left: 0px;
	}
}

@media (max-width: 1104px) {
	.about .about-content .left img {
		height: 350px;
		width: 350px;
	}
	.education .education-content .left img {
		height: 300px;
		width: 300px;
	}
	.experience .experience-content .left img {
		height: 300px;
		width: 300px;
	}
}

@media (max-width: 991px) {
	.max-width {
		padding: 0 50px;
	}
}
@media (max-width: 947px) {
	.menu-btn {
		display: block;
		z-index: 999;
		margin-right: 10%;
	}
	.menu-btn i.active:before {
		content: "\f00d";
	}
	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active {
		left: 0;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.home .home-content .text-2 {
		font-size: 70px;
	}
	.home .home-content .text-3 {
		font-size: 35px;
	}
	.home .home-content a {
		font-size: 23px;
		padding: 10px 30px;
	}
	.max-width {
		max-width: 930px;
	}
	.about .about-content .column {
		width: 100%;
	}
	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right {
		flex: 100%;
	}
	.education .education-content .column {
		width: 100%;
	}
	.education .education-content .column {
		width: 100%;
	}
	.education .education-content .left .image-right {
		margin-left: 0px;
		margin-top: 50px;
		margin-bottom: -50px;
	}
	.education .education-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.education .education-content .right {
		flex: 100%;
	}
	.experience .experience-content .column {
		width: 100%;
	}
	.experience .experience-content .column {
		width: 100%;
	}
	.experience .experience-content .left .image-right {
		margin-left: 0px;
		margin-top: 50px;
		margin-bottom: -50px;
	}
	.experience .experience-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.experience .experience-content .right {
		flex: 100%;
	}
	.interests .interest-content .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.skills .skills-content .column,
	.contact .contact-content .column {
		width: 100%;
		margin-bottom: 35px;
	}
	.projects .project-content .card {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
}

@media (max-width: 690px) {
	.max-width {
		padding: 0 23px;
	}
	.home .home-content .text-2 {
		font-size: 60px;
	}
	.home .home-content .text-3 {
		font-size: 32px;
	}
	.home .home-content a {
		font-size: 20px;
	}
	.interests .interest-content .card {
		width: 100%;
	}
	.projects .project-content .card {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.home .home-content .text-2 {
		font-size: 50px;
	}
	.home .home-content .text-3 {
		font-size: 27px;
	}
	.about .about-content .right .text,
	.skills .skills-content .left .text {
		font-size: 19px;
	}
	.contact .right form .fields {
		flex-direction: column;
	}
	.contact .right form .name,
	.contact .right form .email {
		margin: 0;
	}
	.scroll-up-btn {
		right: 15px;
		bottom: 15px;
		height: 38px;
		width: 35px;
		font-size: 23px;
		line-height: 38px;
	}
}

@media (max-width: 400px) {
	.projects .project-content .card .box .projectLinks {
		display: block;
	}
	.projects .project-content .card .box .projectLinks .link2 {
		margin-top: 30px;
	}
}

@media screen and (min-width: 690px) and (max-width: 830px) {
	.projects .project-content .card .box .projectLinks {
		display: block;
	}
	.projects .project-content .card .box .projectLinks .link2 {
		margin-top: 30px;
	}
}
@media screen and (min-width: 948px) and (max-width: 1300px) {
	.projects .project-content .card .box .projectLinks {
		display: block;
	}
	.projects .project-content .card .box .projectLinks .link2 {
		margin-top: 30px;
	}
}
